<!doctype html>

<html>

<head>
	<title>{{page.title}}</title>
	<link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.png">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css">
	<style>
		table {
			border-collapse: collapse;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
		}

		tr { border: 1px solid black; }
		
		th {
			text-align: left;
		}
		
		th, td {
			padding: 4px 8px;
		}

		#content {
			margin: 0 auto;
			max-width: 48em;
		}
	</style>
</head>

<body>
	<div id="content">
		<h1>{{page.title}}</h1>
		{{content}}
	</div>
</body>

</html>

<!--
vim:ts=2:
-->
